# Prefix for the messages
# Default = §c§lBanSystem §r§8» §7
prefix: "§c§lBanSystem §r§8» §7"
# Path where the mutes were saved
# Example = /home/Database/Mute/
# Default = plugin_data/BanManager/
mute-path: "default"
# Path where the bans were saved
# Example = /home/Database/Ban/
# Default = plugin_data/BanManager/
ban-path: "default"
# Path where the warns were saved
# Example = /home/Database/Warn/
# Default = plugin_data/BanManager/
warn-path: "default"
# Path where the mute and ban points from the players were saved
# Example = /home/Database/PlayerInfo/
# Default = plugin_data/BanManager/
info-path: "default"
# Max Warns
max-warns: 3
# The action that will be executed when a player reaches the limit
# Default: ban
# Valid Actions: ban, mute
max-warns-action: ban
# The reason of the action
max-warns-action-reason: "Warns Limit reached."
# Activate or deactivate the creation of ban and mute logs
make-ban-mute-logs: true
# Blocked commands for muted players
# Without '/'
blocked-commands:
- msg